* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001427;
}
.gioithieu_container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
}
.gioithieu_content p {
  font-size: 24px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.gioithieu_title {
  margin-bottom: 2rem;
  font-size: 55px;
  font-family: UTM Davida;
  color: hsla(42, 82%, 75%, 1);
}
.gioithieu_content {
  width: 585px;
}
.nametv1 {
  font-size: 28px;
  color: white;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}
.thanhvien_group {
  margin-top: 4rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.thanhvien_title {
  margin-top: 4rem;
  font-size: 60px;
  color: hsla(42, 82%, 75%, 1);
  font-family: "Dancing Script", cursive;
  text-align: center;
}
.thanhvien_container {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.logo_social img {
  margin-right: 1rem;
}
.aboutus_customer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}
.footer {
  font-family: "Montserrat", sans-serif;
}
.frame_customer {
  width: 80%;
}
.underline {
  width: 100%;
  border: 2px hsla(42, 82%, 75%, 1) solid;
  margin-top: 6px;
}
.nav_item {
  padding: 12px 24px;
}
.title_customer {
  width: 100%;
  font-family: UTM Davida;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 48px;
  color: #f4d58d;
}
.frame_gird-customer {
  display: grid;
  grid-template-columns: 26% 26% 26%;
  column-gap: 11%;
}
.gird_customer {
  display: grid;
  grid-template-rows: auto auto auto;
}
.img_customer {
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.img_customer:hover {
  transform: scale(1.1);
}
.name_customer {
  font-family: UTM Davida;

  padding-top: 32px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.mxh_customer {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.gioithieu_frame {
  display: flex;
  justify-content: center;
}
.gioithieu_container {
  width: 80%;
}
.nav_header {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.nav {
  width: 90%;
}
.container_header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_container {
  width: 80%;
  padding: 40px 0;
  height: auto;
  display: grid;
  column-gap: 48px;
  grid-template-columns: 40% auto;
}
.input_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_title-larger,
.item_title-low {
  color: #ffffff;
  font-size: 64px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.item_title-low {
  font-size: 48px;
}
.item_link,
.item_items {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0;
}
.item_items {
  color: #708d81;
  opacity: 0.8;
}
.input_detail {
  display: flex;
  flex-direction: column;
}
.input_title {
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  font-family: UTM Davida;
  color: #f4d58d;
}
.text_infomation {
  color: #ffffff;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.input_frame {
  width: 80%;
  display: flex;
  height: auto;
  border: 3px solid hsla(42, 82%, 75%, 1);
  border-radius: 10px;
  margin-bottom: 16px;
}
.tentk_input,
.email_input,
.sdt_input {
  width: 87%;
  height: 48px;
  background: transparent;
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 0px 12px;
  color: #f4d58d;
}
.choose_date {
  display: flex;
  column-gap: 40px;
  margin-bottom: 16px;
}
.date_of_birth {
  padding: 0px 16px;
  height: 48px;
  border-radius: 16px;
  background: transparent;
  border: 3px solid hsla(42, 82%, 75%, 1);
  color: #f4d58d;
}
.date_birth-trong {
  text-align: center;
}
.img_icon-genaral {
  width: 42px;
  height: 42px;
  margin-left: 8px;
  cursor: pointer;
}
.img_icon-genaralsau {
  width: 42px;
  height: 42px;
  margin-left: 56px;
  cursor: pointer;
}
.frame_end {
  margin-top: 16px;
  width: 80%;
  display: flex;
  height: auto;
  justify-content: end;
}
.save_input,
.cancal_input {
  padding: 12px 24px;
  margin-right: 24px;
  border-radius: 16px;
  text-decoration: none;
  border: 3px solid hsla(42, 82%, 75%, 1);
  color: #f4d58d;
}
.cancal_input {
  margin-right: 0;
}
.icon_danhmuc {
  width: 56px;
  height: 56px;
}
.container_header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_container {
  width: 80%;
  padding: 60px 0;
  height: auto;
  display: grid;
  column-gap: 48px;
  grid-template-columns: 40% auto;
}
.input_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_title-larger,
.item_title-low {
  color: #ffffff;
  font-size: 64px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.item_title-low {
  font-size: 48px;
}
.item_link,
.item_items {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0;
}
.item_items {
  color: #708d81;
  opacity: 0.8;
}
.input_detail {
  display: flex;
  flex-direction: column;
}
.input_title {
  font-size: 56px;
  text-align: center;
  font-weight: 600;
  font-family: UTM Davida;
  margin-bottom: 48px;
}
.input_detail-gird {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
}
.infomation_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ma_infomation {
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}
.ma_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_text {
  color: #ffffff;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.item_time {
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
.icon_danhmuc {
  width: 56px;
  height: 56px;
}
@media (min-width: 350px) and (max-width: 768px) {
  .userr img {
    width: 2.5rem;
    display: none;
  }

  .gioithieu_container {
    flex-direction: column;
    text-align: center;
  }
  .gioithieu_container img {
    width: 100%;
  }
  .gioithieu_content {
    width: 100%;
  }
  .thanhvien_group {
    grid-template-columns: none;
    row-gap: 2rem;
  }
  .thanhvien1 img {
    margin-bottom: 1rem;
  }
  .gioithieu_title,
  .title_customer {
    font-size: 45px;
  }
  .trung {
    width: 90%;
  }
  .frame_gird-customer {
    display: block;
  }
  .title_customer {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .frame_gird-customer {
    display: block;
  }
  .gird_customer {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    align-items: center;
  }
  .img_customer {
    width: 50%;
  }
  .nav {
    justify-content: space-between;
  }
  .gioithieu_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gioithieu_content p {
    width: 80%;
    font-size: 14px;
  }
  .input_detail-gird {
    display: block;
  }
  .input_title {
    font-size: 30px;
  }
  .text_infomation {
    font-size: 16px;
  }
  .item_items,
  .item_link {
    font-size: 14px;
  }
  .ma_infomation {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .item_text {
    font-size: 16px;
  }
  .item_time {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .gioithieu_container img {
    width: 90%;
  }
  .thanhvien_group {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav_link {
    font-size: 18px;
  }
  .gioithieu_container {
    margin-bottom: 48px;
  }
  .gioithieu_img {
    width: 100%;
  }
  .gioithieu_content {
    width: 100%;
  }
  .gioithieu_title,
  .title_customer {
    font-size: 36px;
  }
  .gioithieu_content p {
    font-size: 16px;
  }
  .name_customer {
    font-size: 20px;
    font-family: UTM Davida;
  }
  .nav_link {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container_header {
    display: flex;
    justify-content: center;
  }
  .input_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainframe {
    height: 1100px;
  }
  .input_frame {
    width: 100%;
  }
  .img_logo {
    width: 76px;
    height: 76px;
  }
  .nav_item {
    font-size: 18px;
  }
  .input_detail {
    margin-top: 32px;
    justify-content: center;
  }
  .icon_danhmuc {
    display: none;
  }
}
@media (max-width: 768px) {
  .container_header {
    display: flex;
    justify-content: center;
  }
  .input_container {
    width: 100%;
    display: block;
  }
  .input_frame {
    width: 100%;
  }
  .mainframe {
    height: 1100px;
  }
  .img_logo {
    width: 56px;
    height: 56px;
  }
  .input_detail {
    margin-top: 32px;
  }
  .nav_icon {
    display: none;
  }
  .input_container {
    width: 80%;
  }
  .item_title-larger,
  .item_title-low {
    text-align: center;
  }
  .choose_date {
    gap: 20px;
  }
}
